body {
    background-color: green;
}

p {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}

.players {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    margin-top: 20%;
}

.dealer {
    display: flex;
    justify-content: center;
    height: 20%;
    margin-left: auto;
}
